@model JemaatViewModel
@{
    ViewData["Title"] = "Jemaat";
    var num = 0;
}

<div class="container-fluid">
    <a asp-action="JemaatAddEdit" class="btn btn-neutral">+ Add</a>
    <br/><br />
    <div class="card shadow border-0 mb-7">
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Nama Lengkap</th>
                        <th scope="col">Jenis Kelamin</th>
                        <th scope="col">Komsel</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.VwList)
                    {
                        num++;
                        <tr>
                            <td> @num. </td>
                            <td> @item.Nama_Lengkap </td>
                            <td> @item.Jenis_Kelamin </td>
                            <td> @item.Komsel </td>
                            <td>
                                <form asp-action="JemaatDelete">
                                    <a asp-action="JemaatDetail" asp-route-id="@item.ID" class="btn btn-sm btn-neutral">View</a>
                                    <a asp-action="JemaatAddEdit" asp-route-id="@item.ID" class="btn btn-sm btn-square btn-neutral text-danger-hover"> <i class="bi bi-pencil"></i> </a>
                                    <input name="id" type="hidden" value="@item.ID" />
                                    <button class="btn btn-sm btn-square btn-neutral text-danger-hover" type="submit" data-confirm="Apa Anda yakin ingin menghapus data data jemaat ini?"> <i class="bi bi-trash"></i> </button>
                                </form>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer border-0 py-5"> <span class="text-muted text-sm">Showing @Model.DataCount records found</span> </div>
    </div>
</div>