@model KomselViewModel
@{
    ViewData["Title"] = "Master Data";
    var num = 0;
}

<div class="container-fluid">
    <a asp-action="komselAddEdit" class="btn btn-neutral">+ Add</a>
    <br/><br />
    <div class="card shadow border-0 mb-7">
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Komsel</th>
                        <th scope="col">PIC</th>
                        <th scope="col">Keterangan</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        num++;
                        <tr>
                            <td> @num. </td>
                            <td> @item.Komsel </td>
                            <td> @item.PIC_ID </td>
                            <td> @item.Keterangan </td>
                            <td>
                                <form asp-action="KomselDelete">
                                    <a asp-action="KomselDetail" asp-route-id="@item.Komsel_ID" class="btn btn-sm btn-neutral">View</a>
                                    <a asp-action="KomselAddEdit" asp-route-id="@item.Komsel_ID" class="btn btn-sm btn-square btn-neutral text-danger-hover"> <i class="bi bi-pencil"></i> </a>
                                    <input name="id" type="hidden" value="@item.Komsel_ID" />
                                    <button class="btn btn-sm btn-square btn-neutral text-danger-hover" type="submit" data-confirm="Apa Anda yakin ingin menghapus data Kelompok Ibadah ini?"> <i class="bi bi-trash"></i> </button>
                                </form>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer border-0 py-5"> <span class="text-muted text-sm">Showing @Model.DataCount records found</span> </div>
    </div>
</div>